/* -------------------------------------------------------------------------
                                                                         ALL
------------------------------------------------------------------------- */
body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #4A4A4A;
}

h1 {
	font-weight: 400;
}

h2 {
	font-weight: 100;
}

h3, h4 {
	font-weight: 300;
}

h1, h2 {
	margin: 0;
}

/* -------------------------------------------------------------------------
                                                                        HOME
------------------------------------------------------------------------- */
#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
}

/* -------------------------------------------------------- TABLET STYLES */
@media (min-width: 601px) {
	h1 {
		font-size: 64px;
	}
	h2 {
		padding: 0;
		font-size: 28px;
	}
}

/* ------------------------------------------------------- DESKTOP STYLES */                                            
@media (min-width: 900px) {
	h1 {
		font-size: 72px;
	}
	h2 {
		padding-top: 2px;
		font-size: 36px;
	}
}

/* -------------------------------------------------------- MOBILE STYLES */
@media (max-width: 600px) {
	h1 {
		font-size: 36px;
	}
	h2 {
		padding-top: 5px;
		font-size: 18px;
	}
	.typewrite {
		display: block;
	}
}